grant {
    // Allow basic runtime permissions
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
    permission java.lang.RuntimePermission "getProtectionDomain";

    // Allow reading of properties
    permission java.util.PropertyPermission "*", "read";
};
